__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.DS_Store
.env

# Data
*.npy
*.npz
*.tif
*.tiff
!simulation/assets/probe.npy
!simulation/assets/amplitude.tiff
!simulation/assets/phase.tiff

# Generated results and other checkpoints
*.pth
*.pt
!checkpoints/ad_ltem/best_model.pth
Ours_*.npy
GT_*.npy
results/
